<h1><%= @artist.name %></h1>
<nav>
  <%= link_to 'New Album', new_artist_album_path(@artist) %>
</nav>
<% if @artist.albums.any? %>
  <% @artist.albums.each do |album| %>
    <hr/>
    <h4><%= link_to album.title, artist_album_path(@artist, album) %></h4>
    <i>
      <%= link_to 'Edit', edit_artist_album_path(@artist, album), class: 'btn btn-primary' %>
      <%= link_to 'Delete', artist_album_path(@artist, album),
                            method: :delete,
                            data: { confirm: 'Really Delete?' },
                            class: 'btn btn-danger' %>
    </i>
  <% end %>
<% end %>
