<h1><%= @billboard.id ? 'Edit Billboard' : 'New Billboard' %></h1>
<%= form_for @billboard do |f| %>
  <%= f.label :name %>
  <%= f.text_area :name, required: true, autofocus: true %>
  <br/>
  <%= f.submit %>
<% end %>
