<!DOCTYPE html>
<html>
  <head>
    <title>MusicBillboards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%
      bill_link = 'item'
      art_link = 'item'
      new_bill_link = 'item'
      new_art_link = 'item'
      if params[:controller] == 'billboards'
        if params[:action] == 'index'
          bill_link = 'active item'
        elsif params[:action] == 'new'
          new_bill_link = 'active item'
        end
      elsif params[:controller] = 'artists'
        if params[:action] == 'index'
          art_link = 'active item'
        elsif params[:action] == 'new'
          new_art_link = 'active item'
        end
      end
    %>
    <div class="ui four item menu">
      <%= link_to 'New Billboard', new_billboard_path, class: new_bill_link %>
      <%= link_to 'New Artist', new_artist_path, class: new_art_link %>
      <%= link_to 'Billboards', billboards_path, class: bill_link %>
      <%= link_to 'Artists', artists_path, class: art_link %>
    </div>
    <%= yield %>
  </body>
</html>
