<!DOCTYPE html>
<html>
  <head>
    <title>MusicBillboards</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <%= link_to 'New Billboard', new_billboard_path, class: 'nav-link' %>
      <%= link_to 'New Artist', new_artist_path, class: 'nav-link' %>
      <%= link_to 'Billboards', root_path, class: 'nav-link' %>
      <%= link_to 'Artists', artists_path, class: 'nav-link' %>
    </nav>
    <%= yield %>
  </body>
</html>
